[core]
server = example

[server.example]
url = http://bugzilla.example.com
user = user@example.com
password = sekrit

[alias]
fix = status --status RESOLVED --resolution FIXED
wfm = status --status RESOLVED --resolution WORKSFORME
confirm = status --status CONFIRMED
