{
	"alias": {
		"fix": "status --status RESOLVED --resolution FIXED",
		"wfm": "status --status RESOLVED --resolution WORKSFORME",
		"confirm": "status --status CONFIRMED"
	},
	"servers": {
		"example": ["https://bugzilla.example.com", "user@example.com", "sekrit"]
	},
	"default_server": "example"
}
